<div class="container-fluid" [formGroup]="group">
    <div class="row mt-4">
        <div class="col-4">
            <app-generic-checkbox
                    formControlName="control"
                    [data]="data"
                    [labelRef]="'label'"
                    [valueRef]="'value'"
            ></app-generic-checkbox>
        </div>
        <div class="col-4">
            Value 2 :
            <div>{{ control.value | json }}</div>
            <div *ngIf="control.invalid">
                Control errors:
                <div *ngFor="let error of controlErrors" class="ms-2">
                    {{ error.error }} - {{ error.value | json }}
                </div>
            </div>
        </div>
    </div>
</div>
