@import "../node_modules/bootstrap/scss/bootstrap";

$primary: #38383b;
$secondary: #02547d;


app-home {
    .aside {
        height: 100vh;
        background-color: $primary;
    }
}

nav > div{
    background-color: $primary;
}
