<div class="container-fluid">
    <div [formGroup]="group" class="row mt-4">
        <div class="col-4">
            <app-input-text formControlName="control"></app-input-text>
        </div>
        <div class="col-4">
            Value:
            <div>{{ control.value }}</div>
            <div *ngIf="control.invalid">
                Control errors:
                <div *ngFor="let error of controlErrors" class="ms-2">
                    {{ error.error }} - {{ error.value | json }}
                </div>
            </div>
        </div>
    </div>
</div>
